*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display:flex;
}
body {
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
    width: 100%;
}

body*{
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}
header{
    max-width: 100%;
    margin-top: 32px;
    text-align: center;
    height: 120px;      
}


header div {
    
    width:  120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    display: flex;
    padding: 3px;
    transition: transform .3s;
}

header div:hover{
    transform: scale(1.6);
}
  


header img {
    width:  100%;
    border-radius: 50%;
    
}

main {
    /* border:1px solid red; */
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
    margin-top: 32px;
}
section{
    
    color:white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
    margin-top: 32px;
    flex-wrap: wrap;
}
section div{
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;


}

section h2{   
    letter-spacing: -0.47;
}
section p{
    letter-spacing: -0.18pix;
    color: #A1A1AA

}


section ul{
    display: flex;
    gap: 16px;
    list-style: none;
    margin-top: 24px;
    flex-wrap: wrap;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover{
    transform: scale(1.2);
}

.game-list img {
    width: 90px;
    border-radius:8px;
    border: 3px solid #5cbe9a
    
}
.channel-list img {
    border-radius: 50% ;
    width: 70px;
    border: 3px solid rgb(245, 245, 209);

}



header div{
    animation: fromtop 2s .4s backwards;
}

@keyframes fromtop{
    from {
        opacity:0;
        transform: translateY(-30px)
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

main section{
    animation: frombottom 1s .4s backwards;
}

main section:nth-child(1){
    animation-delay: .4s;
}

main section:nth-child(2){
    animation-delay: .8s;
}
main section:nth-child(3){
    animation-delay: 1s;
}



@keyframes frombottom{
    from {
        opacity:0;
        transform: translateY(120px)
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}